body {
    background: #1d2635;
    overflow: hidden;
}

.container {
    height: 500px;
    width: 900px;
    /* border: 2px solid #eee;*/
    background: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container .item {
    height: 300px;
    width: 200px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    transition: .5s ease;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, .5, );
}

.item:nth-child(1),
.item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 220px);
}

.item:nth-child(5) {
    left: calc(50% + 440px);
}

.item:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
}

/*.item:nth-child(7){
    left: calc(50%+220px);
}

.item:nth-child(8){
    left: calc(50%+220px);
}

.item:nth-child(9){
    left: calc(50%+220px);
}*/

.slider-btns {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.slider-btns button {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, .8, );
    background: rgba(255, 255, 255, .7);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: .3s;
}

.slider-btns button:hover {
    background: #eee;
    color: #222;
}